{{define "subject"}}Шановний(а) {{.StudentName}} {{.StudentSurname}}, доступні підсумкові результати з дисципліни {{.SubjectName}}.{{end}}


{{define "htmlBody"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to FIT</title>
    <style>
        .container{
            max-width: 700px;
            padding: 20px;
            border: solid #CCC 1px;
        }

    </style>
</head>
<body>

<div class="container">
    <h3>Підсумкові результати з дисципліни <a href="http://localhost:3000/subject/{{.SubjectId}}">{{.SubjectName}}</a>:</h3>
    <p>Оцінка за {{.ExamType}}: <strong>{{.ExamScore}}</strong> &emsp; &emsp;
    <p>Підсумкова оцінка за дисципліну: <strong>{{.TotalScore}}</strong></p>
    <p>Викладач:<a href="http://localhost:3000/professors/{{.ProfessorId}}">{{.ProfessorName}} {{.ProfessorPatronymic}} {{.ProfessorSurname}}</a></p>
    <p><a href="http://localhost:3000/students/{{.StudentId}}">Перейти на особисту сторінку</a></p>
</div>

</body>
</html>
{{end}}
